

<div class="row">
  <div class="col">


      {{#each story}}

        <div class="comment">
          <h2></h2>

        </div>

        <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">

          {{#if picture}}
          <img class="card-img-top" src="images/{{picture}}" alt="{{text}}">
          {{/if}}

          <div class="card-body">
            <p class="card-text">
            
              {{text}}
            
            </p>
          </div>

        </div>

      {{/each}}


  </div>
</div>
